<template>
  <master-page>
    <div v-if="getAuthors && getAuthors.length">
      <remove-modal :modal="modal" @cancel="modal.reset" @agree="removeAuthorFromApi"/>
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">Призвище</th>
            <th scope="col">І'мя</th>
            <th scope="col">Дія</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(author, index) in getAuthors" :key="author.id">
            <th class="col-lg-1" scope="row">{{getStartIndex + index}}</th>
            <td class="col-lg-2">{{author.lastname}}</td>
            <td class="col-lg-7">{{author.firstname}}</td>
            <td class="col-lg-2">
              <font-awesome-icon
                :icon="['fas', 'pencil']"
                class="author-action-icon"
                title="Редагувати"
                @click="editAuthor(author.id)"
              />

<!--              <font-awesome-icon-->
<!--                :icon="['fas', 'book']"-->
<!--                class="author-action-icon"-->
<!--                title="Книги автора"-->
<!--              />-->

              <font-awesome-icon
                :icon="['far', 'trash-can']"
                class="author-action-icon"
                title="Видалити"
                @click="removeAuthorModal(author.id)"
              />
            </td>
          </tr>
        </tbody>
      </table>
      <pagination :pagination="getPagination" @pageChanged="changePage"/>
    </div>
    <empty-list v-else />
  </master-page>
</template>

<script>
/* eslint-disable vue/multi-word-component-names */
import api from "@/api";
import MasterPage from "@/views/Layouts/MasterPage.vue";
import Pagination from "@/components/Pagination.vue";
import RemoveModal from "@/components/Modals/RemoveModal.vue";
import { mapActions, mapState } from "pinia";
import { useAuthorsStore } from "@/store/authors";
import { useBreadcrumbsStore } from "@/store/breadcrumbs";
import { useMessagesStore } from "@/store/messages";
import EmptyList from "@/components/EmptyList.vue";

export default {
  name: "AuthorsList",
  components: {
    EmptyList,
    Pagination,
    MasterPage,
    RemoveModal
  },
  computed: {
    ...mapState(useAuthorsStore, ["getAuthors", "getPagination"]),
    getStartIndex() {
      return (this.getPagination.currentPage - 1) * this.getPagination.perPage + 1;
    }
  },
  data() {
    return {
      authorIdForRemove: null,
      modal: {
        show : false,
        reset: () => {
          this.modal.text = null;
          this.modal.show = false;
        }
      },
    }
  },
  methods: {
    ...mapActions(useAuthorsStore, ["loadAuthors", "removeAuthor"]),
    ...mapActions(useBreadcrumbsStore, ["setBreadcrumbs"]),
    ...mapActions(useMessagesStore, ["addMessages"]),
    changePage(currentPage) {
      this.loadAuthors({'currentPage': currentPage});
    },
    editAuthor(id) {
      this.$router.push({name:'AuthorEdit', params: { id: id }})
    },
    loadBreadcrumbs() {
      this.setBreadcrumbs([
        { main: true, title: 'Головна' },
        { main: false, title: 'Автори' }
      ])
    },
    removeAuthorModal(id) {
      this.authorIdForRemove = id;
      this.modal.title = 'Видалення автора';
      this.modal.text = 'Разом з автором будуть видалені всі його книги.Ви впевненні що хочете видалити цього автора?'
      this.modal.show = true;
    },
    removeAuthorFromApi() {
      api.removeAuthor(this.authorIdForRemove).then(response => {
        this.modal.show = false;
        if (200 === response.status) {
          this.removeAuthor(this.authorIdForRemove);
          this.addMessages({
            title: "Успіх",
            type: "success",
            text: "Автор успішно видален",
          });
        }
      });
    }
  },
  created() {
    this.loadAuthors({});
    this.loadBreadcrumbs();
  },
}
</script>
