.book-container-center {
  display: flex;
  flex-direction: column;
  margin: 100px auto 0 auto;
  width: 800px;
}

.book-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.book-card {
  cursor: pointer;
  width: 240px;
  padding: 0;
  text-align: center;
  background-color: #fff;
}

.messages {
  display: flex;
  justify-content: end;
}

#new-author {
  margin-top: 5px;
  height: 20px;
  width: 20px;
}

#new-author {
  cursor: pointer;
  margin: 28px 0 0 10px;
}

.book-description {
  margin-top: 0;
  padding: 13px;
}

.input_file {
  margin-top: 30px;
  display: none;
}

.copy-url {
  color: #5e5e5e;
  margin-left: 10px;
}

#url-for-example {
  margin-top: 20px;
  cursor: pointer;
}

#type-store {
  margin-top: 40px;
}

.container-center {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  font-size: 14px;
}

.book-image {
  cursor: pointer;
  width: 200px;
  box-shadow: 10px 8px 10px rgba(0, 0, 0, 0.4);
}

.detail-image-box {
  margin-right: 60px;
  padding: 0 20px;
  width: 240px;
}

.red:hover {
  border-color: #ea4949;
  color: #ea4949;
}

.separate {
  margin: 40px 0;
}

.book-title,
.queue-book-title {
  font-size: 20px;
  font-weight: bold;
}

.book-author,
.queue-book-author {
  font-size: 16px;
  font-style: italic;
  margin-bottom: 10px;
}

.book-description {
  font-style: italic;
}

.queue-book-index {
  color: #b6b7b7;
  font-size: 120px;
}
.tips {
  color: #717172;
  font-size: 14px;
  margin: 0 0 15px 20px;
}