#user-img-box {
  display: flex;
  flex-direction: row;
  width: 30px;
}

.user-icon-img,
.nav-link,
.user-icon-chevron {
  cursor: pointer;
}

.nav,
.dropdown-item,
.search-input {
  font-family: Roboto, serif !important;
  font-weight: 300 !important;
}

.user-icon-chevron {
  padding: 0 0 0 10px;
  font-size: 16px;
}

.add-icon-chevron {
  margin-top: 13px;
  padding: 0 0 0 5px;
  font-size: 16px;
}

.dropdown-menu {
  border-top: 0;
  border-radius: 0 !important;
}

.add-menu {
  margin-top: 17px;
}

.user-menu {
  margin-top: 16px;
}

.notification-menu {
  left: -113px;
  margin-top: 22px;
}

#menu-item-add {
  display: flex;
  flex-direction: row;
}

.menu-messages {
  cursor: pointer;
  font-size: 20px;
  margin-right: 18px;
}

.menu-messages-envelope-mark {
  margin: 4px 0 0 13px;
  position: absolute;
  border-radius: 50%;
  background-color: #b6000d;
  height: 10px;
  width: 10px;
  z-index: 100;
}