.message {
  position: absolute;
  margin: 0;
  padding: 10px;
}

.message-box {
  background-color: #f8f8f8;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  border: 1px solid #c7c6c6;
  border-radius: 7px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: 90px;
  margin-bottom: 20px;
  padding: 15px;
  width: 400px;
}

.message-icon {
  width: 38px;
}

.message-icon-img {
  height: 34px;
  margin-top: 4px;
  padding: 2px 4px;
  opacity: 0.6;
  width: 38px;
}

.message-message {
  display: flex;
  flex-direction: column;
  padding: 4px 0 0 25px;
  width: 100%;
}

.message-message-title {
  font-weight: bold;
  font-size: 14px;
}

.message-message-text {
  font-size: 14px;
}

.message-button {
  display: flex;
  justify-content: end;
  width: 38px;
}

.message-button-icon {
  color: #7d8184;
}

.message-button-icon:hover {
  color: #000000;
  cursor: pointer;
}
