html {
  min-width: 800px;
}

body {
  margin: 0;
  padding: 0;
}

.notes-text p:hover {
  color: #000000;
}

.notes-text p {
  font-size: 14px;
}

.notes-item i {
  cursor: pointer;
  top: 10px;
  right: 10px;
  font-size: 24px;
  color: #ccc;
}

.notes-item i:hover {
  color: #727070;
}

.notes {
  cursor: pointer;
  border-radius: 6px;
  background-color: #FFFFFF;
  font-family: "open sans", serif;
  font-size: 14px;
  padding: 30px;
  margin-top: 10px;
}

.context-menu {
  box-shadow: 6px 4px 6px rgba(0, 0, 0, 0.2);
  position: absolute;
  font-family: "open sans", serif;
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
}

.context-menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.context-menu li {
  cursor: pointer;
  padding: 5px;
}

.context-menu li:hover {
  background-color: #eee;
}

.context-menu-item-icon {
  color: #5e5e5e;
  margin-right: 10px;
  width: 20px;
}

.book-content-box {
  background-color: #eeeeee;
  overflow-y: scroll;
}

.reader-book-title {
  text-align: center;
  padding-top: 30px;
  font-family: Constantine, serif;
  font-size: 18px;
}

.book-content {
  display: flex;
  flex-direction: column;
  font-family: "open sans", serif;
  font-size: 16px;
  padding: 40px 150px 40px 150px;
}

.page-number input {
  text-align: center;
  border: none !important;
  outline: none;
  background-color: transparent;
  width: 35px;
  font-size: 18px;
}

.page-number {
  font-family: Constantine, serif;
  border-radius: 50px;
  border: 1px solid #999;
  margin-top: 50px;
  display: inline-list-item;
  padding: 10px;
  width: 56px;
}

.book-image-box {
  padding: 20px;
  text-align: center;
}

.book-author-box {
  padding: 20px;
  text-align: center;
  font-family: "open sans", serif;
  font-size: 18px;
}

.reader-book-author, .book-year {
  font-size: 16px;
  color: #FFFFFF;
}

.action-box {
  color: white;
  cursor: pointer;
  display: flex;
  font-size: 22px;
  padding: 26px 0 0 20px;
}

.user-profile-photo {
  padding-top: 8px;
  width: 80px;
  height: 60px;
}

.profile-photo {
  cursor: pointer;
  width: 60px;
  border-radius: 45px;
}

.reader-user-menu {
  box-shadow: 6px 4px 6px rgba(0, 0, 0, 0.2);
  position: absolute;
  font-family: "open sans", serif;
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  top: 90px;
  width: 200px;
  z-index: 2;
}

.reader-user-menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.reader-user-menu li {
  cursor: pointer;
  padding: 5px;
}

.reader-user-menu li:hover {
  background-color: #eee;
}

.context-menu-item-icon {
  color: #5e5e5e;
  margin-right: 10px;
}

#bookmark-box {
  display: flex;
  justify-content: space-between;
}

.bookmark-separate {
  margin: 20px 0;
  border: 0;
  height: 1px;
  background: #333 linear-gradient(to right, #ccc, #333, #ccc);
}

.favorite-remove {
  cursor: pointer;
  color: #717172;
  font-size: 16px;
}

.favorite-remove:hover {
  color: #000000;
}

.page-favorite {
  background-color: #FFFFFF;
  border-radius: 5px;
  color: #000000;
  display: flex;
  justify-content: center;
  font-size: 16px;
  margin-top: 20px;
  width: 100%;
}

.text {
  margin: 2px 6px;
  padding: 2px 6px;
}

.text-select {
  margin: 2px 3px;
  padding: 2px 6px;
  border-left: 3px solid #5e5e5e;
}