.image-container {
  position: relative;
  display: flex;
  justify-content: center;
  cursor: pointer;
  margin-top: 20px;
}

.image-container-img {
  box-shadow: 10px 8px 10px rgba(0, 0, 0, 0.4);
}

.image-container-img:hover {
  opacity: 0.5;
}

.edit-icon {
  color: #1a1d20;
  position: absolute;
  top: 50%;
  left: 52%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  background-size: cover;
  opacity: 0;
  font-size: 30px;
}

.image-container:hover .edit-icon {
  opacity: 1;
}

.messages {
  display: flex;
  justify-content: end;
}

a, a:link, a:visited, .link-body-emphasis {
  color: #000000;
  text-decoration: none;
}

a:hover {
  color: rgba(33, 37, 41, 0.75)
}

*:focus {
  outline: none;
}

.form-control:focus {
  border-color: #c7c6c6;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.dropdown-item:active {
  background-color: #bbbdbb;
}

.user-info {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}