<template>
  <master-page>
    <div class="tips">Для зміни порядка натиснить по книзі і тяніть вгору або донизу</div>
    <div class="d-flex flex-column" v-if="queue && queue.length">
      <draggable
          v-model="queue"
          @start="drag=true"
          @end="changeOrder"
          item-key="id">
        <template #item="{element, index}">
          <div class="d-flex flex-row mb-5">
            <div class="queue-book-index">
              {{index + 1}}
            </div>
            <router-link :to="{ name: 'BookDetail', params: { id: element.book.id }}">
              <div class="detail-image-box">
                <img :src="getImage(element)" class="book-image" alt="">
              </div>
            </router-link>

            <div class="d-flex flex-column">
              <div class="flex-row">
                <font-awesome-icon
                  data-toggle="modal"
                  :icon="['fas', 'xmark']"
                  class="action-icon remove-icon"
                  title="Видалити з черги"
                  @click="removeBookFromQueue(element.id)"
                />
              </div>

              <hr class="bookmark-separate">

              <div class="flex-row book-title">{{getTitle(element)}}</div>
              <div class="flex-row queue-book-author">{{getAuthor(element)}}</div>
              <div class="flex-row">Рік: {{getYear(element)}}</div>
              <div class="flex-row">Сторінок: {{getPages(element)}}</div>
              <div class="flex-row">Тіп збереження: {{getType(element)}}</div>
            </div>
          </div>
        </template>
      </draggable>
    </div>
    <empty-list v-else />
  </master-page>
</template>

<script>
import MasterPage from "@/views/Layouts/MasterPage.vue";
import { mapActions } from "pinia";
import { useBreadcrumbsStore } from "@/store/breadcrumbs";
import EmptyList from "@/components/EmptyList.vue";
import draggable from 'vuedraggable'
import api from "@/api";
import {useMessagesStore} from "@/store/messages";

export default {
  name: "QueueList",
  components: {
    draggable,
    EmptyList,
    MasterPage
  },
  computed: {
  },
  data() {
    return {
      queue: [],
      drag: false,
    }
  },
  methods: {
    ...mapActions(useBreadcrumbsStore, ["setBreadcrumbs"]),
    ...mapActions(useMessagesStore, ["addMessages"]),
    changeOrder() {
      api.changeOrderQueue(this.queue).then(response => {
        if (200 === response.status) {
          this.addMessages({
            title: "Успіх",
            type: "success",
            text: "Порядок черги змінен",
            timer: 3
          });
        }
      });
    },
    getAuthor(book) {
      if (book.book.authors.length) {
        return book.book.authors[0].lastname + ' ' + book.book.authors[0].firstname;
      }
      return '';
    },
    getImage(book) {
      return book.book.files
          ? process.env.VUE_APP_BACKEND_URL + 'images/books/' + book.book.files.image
          : '/images/no_image.png'
    },
    getTitle(book) {
      return book.book.title;
    },
    getType(book) {
      return book.book?.files?.pdf ? 'PDF' : 'DB';
    },
    getPages(book) {
      return book.book.pages;
    },
    getYear(book) {
      return book.book.year;
    },
    loadBreadcrumbs() {
      this.setBreadcrumbs([
        { main: true, title: 'Головна' },
        { main: false, title: 'Черга' },
      ])
    },
    removeBookFromQueue(queueId) {
      api.removeBookFromQueue(queueId).then(response => {
        if (response.status === 200) {
          this.queue = this.queue.filter(item => item.id !== queueId)
          this.addMessages({
            title: "Успіх",
            type: "success",
            text: "Книга успішно видалена з черги",
          });
        }
      })
    },
  },
  created() {
    api.loadQueue().then(response => {
      if (response.status === 200) {
        this.queue = response.data.data.queue;
      }
    })
    this.loadBreadcrumbs();
  },
};
</script>
