<template>
  <header class="p-3 mb-3 border-bottom">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <router-link :to="{ name: 'BooksList' }" class="d-flex align-items-center mb-2 mb-lg-0 link-body-emphasis text-decoration-none">
          <img src="/icons/logo.png" alt="logo-img" class="logo-img"/>
        </router-link>

        <div class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <div>
            <router-link :to="{ name: 'BooksList' }" class="nav-link px-2 link-body-emphasis">Головна</router-link>
          </div>

          <div>
            <router-link :to="{ name: 'AuthorsList' }" class="nav-link px-2 link-body-emphasis">Автори</router-link>
          </div>

          <div>
            <router-link :to="{ name: 'QueueList' }" class="nav-link px-2 link-body-emphasis">Черга</router-link>
          </div>

          <div>
            <div id="menu-item-add">
              <span class="nav-link px-2 link-body-emphasis" ref="addDropdown" @click="toggleDropdownState('addDropdown')">Додати</span>
              <font-awesome-icon icon="fa-solid fa-chevron-down" class="add-icon-chevron"/>
            </div>

            <div class="dropdown-menu add-menu" :class="{show: checkDropdownInActive('addDropdown')}">
              <div>
                <router-link :to="{ name: 'BookCreate' }" class="dropdown-item">Книгу</router-link>
              </div>

              <div>
                <router-link :to="{ name: 'AuthorCreate' }" class="dropdown-item">Автора</router-link>
              </div>
            </div>
          </div>

        </div>

        <div class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
          <input
            type="search"
            class="form-control search-input"
            placeholder="Пошук"
            v-model="search"
            title="Назва книжки, або автор"
            @keydown="handleKeyPress"
          />
        </div>

        <div class="dropdown nav-item text-end mx-2" ref="notificationDropdown" @click="toggleDropdownState('notificationDropdown')">
          <div class="menu-messages">
            <span v-if="hasMessages" class="menu-messages-envelope-mark"></span>
            <font-awesome-icon v-if="hasMessages" :icon="['fas', 'envelope']" />
            <font-awesome-icon v-else :icon="['far', 'envelope']" title="Повідомлень немає"/>
          </div>

          <div
            class="dropdown-menu text-small notification-menu"
            :class="{ show: checkDropdownInActive('notificationDropdown') }"
            v-if="getNotifications.length"
          >
            <div>
              <notification-item
                class="dropdown-item"
                v-for="notification in getNotifications"
                :key="notification.id"
                :notification="notification"
              ></notification-item>
            </div>

            <div>
              <hr class="dropdown-divider"/>
            </div>

            <div><a class="dropdown-item" href="#" @click="clearNotification">Очистити</a></div>
          </div>
        </div>

        <div class="dropdown nav-item text-end" ref="userDropdown" @click="toggleDropdownState('userDropdown')">
          <div id="user-img-box">
            <img :src="getProfileImage" alt="Photo" width="42" height="42" class="rounded-circle user-icon-img" :title="getProfileName"/>
            <div id="user-icon-chevron">
              <font-awesome-icon :icon="['fas', 'chevron-down']" class="user-icon-chevron" />
            </div>
          </div>

          <div class="dropdown-menu text-small user-menu" :class="{ show: checkDropdownInActive('userDropdown') }">
            <div><a class="dropdown-item" href="#">Налаштування</a></div>
            <div>
              <router-link :to="{ name: 'UserProfile' }" class="dropdown-item">Профіль</router-link>
            </div>

            <div>
              <hr class="dropdown-divider"/>
            </div>

            <div><a class="dropdown-item" href="#" @click="logout">Вихід</a></div>
          </div>
        </div>
      </div>
    </div>
  </header>
</template>

<script>
/* eslint-disable vue/multi-word-component-names */
import { mapActions, mapState } from "pinia";
import { useUserStore } from "@/store/user";
import { useNotificationsStore } from "@/store/notifications";
import NotificationItem from "@/components/Notifications/NotificationItem.vue";
import api from "@/api";
import { useBooksStore } from "@/store/books";

export default {
  name: "Menu",
  components: {
    NotificationItem
  },
  data() {
    return {
      dropdownActive: [],
      search: "",
    };
  },
  created() {
    this.loadUser();
    this.loadNotifications();
  },
  computed: {
    ...mapState(useUserStore, ["getUser"]),
    ...mapState(useNotificationsStore, ["getNotifications"]),
    getProfileImage() {
      if (this.getUser.image) {
        return (
            process.env.VUE_APP_BACKEND_URL +
            "images/users/" +
            this.getUser.image
        );
      }
      return "/images/no_user.png?v=0.0.1";
    },
    getProfileName() {
      if (this.getUser.name) {
        return this.getUser.name;
      }
      return "";
    },
    hasMessages() {
      return this.getNotifications.length > 0;
    }
  },
  watch: {
    search(newValue, oldValue) {
      if (!newValue.length) {
        if(oldValue.length) {
          this.loadBooks();
        }
      }
    },
  },
  methods: {
    ...mapActions(useUserStore, ["loadUser"]),
    ...mapActions(useBooksStore, ["loadBooks", "setBooks"]),
    ...mapActions(useNotificationsStore, ["loadNotifications", "clearNotifications"]),
    checkDropdownInActive(dropdownTitle) {
      // false - не відображати
      return this.dropdownActive.includes(dropdownTitle);
    },
    clearNotification() {
      this.clearNotifications();
    },
    toggleDropdownState(dropdownTitle) {
      if (this.checkDropdownInActive(dropdownTitle)) {
        let index = this.dropdownActive.indexOf(dropdownTitle);
        if (index !== -1) {
          this.dropdownActive.splice(index, 1);
        }
      } else {
        this.dropdownActive = [];
        this.dropdownActive.push(dropdownTitle);
      }
    },
    handleDocumentClick(event) {
      let target = false;
      Object.keys(this.$refs).forEach((ref) => {
        if (this.$refs[ref].contains(event.target)) {
          target = true;
        }
      });

      if (!target) {
        this.dropdownActive = [];
      }
    },
    logout() {
      this.$cookies.remove("auth_token");
      this.$router.push("/login");
    },
    handleKeyPress(event) {
      if (event.keyCode === 13 && this.search.length) {
        api.search(this.search).then(response => {
          this.setBooks(response.data.data.books)
        })
      }
    }
  },
  mounted() {
    window.addEventListener('keydown', this.handleKeyPress);
    document.addEventListener("click", this.handleDocumentClick);
  },
  beforeUnmount() {
    document.removeEventListener("click", this.handleDocumentClick);
  },
};
</script>
