<template>
  <master-page>
    <div class="book-container-center">
      <h5>Додати книгу</h5>

      <ul class="nav nav-tabs mt-5">
        <li class="nav-item">
          <a
            class="nav-link"
            href="#"
            :class="{active: activeTab === 'form'}"
            @click="setActiveTab('form')"
          >Форма</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
            href="#"
            :class="{active: activeTab === 'import'}"
            @click="setActiveTab('import')"
          >Імпорт</a>
        </li>
      </ul>

      <div v-if="activeTab === 'form'">
        <book-create-form @save-form="saveForm"/>
      </div>

      <div v-if="activeTab === 'import'">
        <book-create-import @import="importBook"/>
      </div>
    </div>
  </master-page>
</template>

<script>
/* eslint-disable vue/multi-word-component-names */
import BookCreateImport from "@/components/Book/BookCreateImport.vue";
import BookCreateForm from "@/components/Book/BookCreateForm.vue";
import MasterPage from "@/views/Layouts/MasterPage.vue";
import api from "@/api";
import { mapActions, mapState } from "pinia";
import { useAuthorsStore } from "@/store/authors";
import { useBookStore } from "@/store/book";
import { useMessagesStore } from "@/store/messages";

export default {
  name: "BookCreate",
  components: {
    MasterPage,
    BookCreateImport,
    BookCreateForm,
  },
  data() {
    return {
      activeTab: "form",
    }
  },
  computed: {
    ...mapState(useAuthorsStore, ["getAuthors"]),
    ...mapState(useBookStore, ["getImportBook", "getFiles"])
  },
  methods: {
    ...mapActions(useAuthorsStore, ["loadAuthors"]),
    ...mapActions(useMessagesStore, ["addMessages"]),
    handle() {
      this.addMessages({
        title: "Успіх",
        type: "success",
        text: "Збережено успешно",
      });
    },
    importBook() {
      if (this.getImportBook.url) {
        api.importBook({
            'url': this.getImportBook.url,
            'type': this.getImportBook.type ?? "db",
        }).then(response => {
          if (201 === response.status) {
            this.addMessages({
              title: "Успіх",
              type: "success",
              text: response.data.data.message,
            });
          }
        }).catch(error => {
          this.addMessages({
            title: "Помилка",
            type: "error",
            text: error.response.data.errors[0],
          });
        });
      }
    },
    saveForm() {
      api.storeBook(this.getImportBook).then((response) => {
        if (response.status === 201) {
          if (this.getFiles.image) {
            this.saveImage(response);
          }
          if (this.getFiles.pdf) {
            this.savePdf(response);
          }
        }
      });
    },
    saveImage(response) {
      let image = new FormData;

      image.append('book_id', response.data.data.book.id);
      image.append('image', this.getFiles.image);

      api.storeBookImage(image).then((response) => {
        if (response.status === 200) {
          return {
            result: 'success',
            filename: response.data.data.filename,
          }
        }
      })
    },
    savePdf(response) {
      let pdf = new FormData;

      pdf.append('book_id', response.data.data.book.id);
      pdf.append('pdf', this.getFiles.pdf);

      api.storeBookPdf(pdf).then((response) => {
        if (response.status === 200) {
          return {
            result: 'success',
            filename: response.data.data.filename,
          }
        }
      })
    },
    setActiveTab(tab) {
      this.activeTab = tab;
    }
  },
  created() {
    this.loadAuthors({});
  }
};
</script>

<style scoped>
@import "@/assets/styles/components/books.scss";
</style>