<template>
  <master-page>
    <remove-modal :modal="modal" @cancel="modal.reset" @agree="removeBookFromApi"/>
    <div class="container-center">
      <div class="d-flex flex-row">
        <div class="detail-image-box">
          <img :src="getImage" class="book-image" alt="">
        </div>

        <div class="d-flex flex-column">
          <div class="flex-row">

            <router-link :to="{name: 'BookReaderDB'}" v-if="isTypeDB">
              <font-awesome-icon :icon="['fas', 'eye']" class="action-icon" title="Читати"/>
            </router-link>

            <router-link :to="{name: 'BookReaderPDF'}" v-else>
              <font-awesome-icon :icon="['fas', 'eye']" class="action-icon" title="Читати"/>
            </router-link>

            <font-awesome-icon :icon="['fas', 'pencil']" class="action-icon" title="Редагувати"/>
            <font-awesome-icon
              :icon="['fab', 'quora']"
              class="action-icon"
              title="Черга"
              @click="addToQueue"
            />

            <font-awesome-icon
              data-toggle="modal"
              :icon="['fas', 'xmark']"
              class="action-icon remove-icon"
              title="Видалити"
              data-target="#modal"
              @click="removeBookModal"
            />

            <font-awesome-icon v-if="isImportedBook"
              :icon="['fas', 'arrow-up-right-from-square']"
              class="action-icon"
              title="Книга в інтернеті"
              @click="openSource"
            />

            <font-awesome-icon v-else
              :icon="['fas', 'arrow-up-right-from-square']"
              class="action-icon-disabled"
              title="Вимкненно"
            />

<!--            <font-awesome-icon :icon="['fas', 'box-archive']" class="action-icon" title="Архівувати"/>-->
<!--            <font-awesome-icon :icon="['fas', 'ban']" class="action-icon" title="В чорний лист"/>-->
<!--            <font-awesome-icon :icon="['fab', 'telegram']" class="action-icon" title="Переслати в telegram"/>-->
          </div>

          <hr class="separate">

          <div class="flex-row book-title">{{ getBook.title }}</div>
          <div class="flex-row book-author">{{ getAuthor }}</div>
          <div v-if="getBookYear">
            <div class="flex-row">Рік: {{ getBook.year }}</div>
          </div>
          <div class="flex-row">Сторінок: {{ getBook.pages }}</div>
          <div class="flex-row">Тіп збереження: {{ getType }}</div>

          <hr class="separate">

          <div class="row">
            <span class="book-description">{{ getBook.description }}</span>
          </div>
        </div>
      </div>
    </div>
  </master-page>
</template>

<script>
/* eslint-disable vue/multi-word-component-names */
import MasterPage from "@/views/Layouts/MasterPage.vue";
import { mapActions, mapState } from "pinia";
import { useBookStore } from "@/store/book";
import api from "@/api";
import { useBreadcrumbsStore } from "@/store/breadcrumbs";
import RemoveModal from "@/components/Modals/RemoveModal.vue";
import { useMessagesStore } from "@/store/messages";

export default {
  name: "BookDetail",
  components: {
    RemoveModal,
    MasterPage,
  },
  data() {
    return {
      book: {},
      modal: {
        show : false,
        reset: () => {
          this.modal.text = null;
          this.modal.show = false;
        }
      },
    }
  },
  computed: {
    ...mapState(useBookStore, ["getBook"]),
    isImportedBook() {
      return this.getBook.source === 'import';
    },
    isTypeDB() {
      return this.getBook.files && !this.getBook.files.pdf;
    },
    getAuthor() {
      return this.getBook.authors
        ? this.getBook.authors[0].firstname + ' ' + this.getBook.authors[0].lastname
        : ''
    },
    getBookYear() {
      return parseInt(this.getBook.year) > 0;
    },
    getImage() {
      return this.getBook.files
        ? process.env.VUE_APP_BACKEND_URL + 'images/books/' + this.getBook.files.image
        : '/images/no_image.png'
    },
    getType() {
      return this.getBook?.files?.pdf ? 'PDF' : 'DB';
    },
  },
  methods: {
    ...mapActions(useBookStore, ["loadBook"]),
    ...mapActions(useBreadcrumbsStore, ["setBreadcrumbs"]),
    ...mapActions(useMessagesStore, ["addMessages"]),
    addToQueue() {
      api.addToQueue({'book_id': this.getBook.id}).then(response => {
        if (200 === response.status) {
          this.addMessages({
            title: "Успіх",
            type: "success",
            text: "Книга успішно додана до черги читання",
            timer: 3
          });
        }
      })
    },
    loadBreadcrumbs() {
      this.setBreadcrumbs([
        { main: true, title: 'Головна' },
        { main: false, title: 'Книга' },
        { main: false, title: 'Детальніше' },
      ])
    },
    openSource() {
      window.open(this.getBook.source_link, '_blank');
    },
    removeBookModal() {
      this.modal.title = 'Видалення книги';
      this.modal.text = 'Ви впевненні що хочете видалити цю книгу?'
      this.modal.show = true;
    },
    removeBookFromApi() {
      api.removeBook(this.getBook.id).then(response => {
        if (200 === response.status) {
          this.$router.push({name: 'BooksList'})

          this.addMessages({
            title: "Успіх",
            type: "success",
            text: "Книга успішно видалена",
          });
        }
      });
    }
  },
  created() {
    this.loadBook(this.$route.params.id);
    this.loadBreadcrumbs();
  },
  beforeRouteUpdate(to, from, next) {
    this.loadBook(to.params.id)
    next()
  }
}
</script>
