<template>
  <vue-pdf-app
      style="height: 100vh;"
      :file-name="getBook.title"
      :pdf="getLinkToSrc"
      :page-scale="90"
      :customToolbarItems="customToolbar"
      @pages-rendered="pagesRendered"
      theme="dark"
  >
    <h1>Поточна сторінка: {{ currentPage }}</h1>
    <template></template>
  </vue-pdf-app>
</template>

<script>
/* eslint-disable vue/multi-word-component-names */
import VuePdfApp from "vue3-pdf-app";
import "vue3-pdf-app/dist/icons/main.css";
import { mapState } from "pinia";
import { useBookStore } from "@/store/book";

export default {
  name: "BookReaderDB",
  components: {
    VuePdfApp,
  },
  computed: {
    ...mapState(useBookStore, ["getBook", "loadBook"]),
    getLinkToSrc() {
      if (this.getBook.files && this.getBook.files.pdf) {
        return process.env.VUE_APP_BACKEND_URL + 'books/' + this.getBook.files.pdf;
      }

      return '';
    }
  },
  data() {
    return {
      theme: 'dark',
      customToolbar: `
        <button type="button">Моя кнопка</button>
      `,
    }
  },
  methods: {

    onPageChange(page) {
      console.log("Page changed to", page);
    },
  },
  created() {
    this.loadBook(this.$route.params.id);
  }
}
</script>

<style>
.pdfViewer .page {
  margin-bottom: 10px !important;
}
</style>
