<template>
  <div class="d-flex vh-100 bg-dark" @contextmenu="showContextMenu">
    <book-info :book="getBook" v-if="sidebars.bookInfo"/>

    <div v-else class="col-xxl-2 bg-dark d-none d-xxl-block"></div>

    <context
      :context="getContext"
      :favorites="getFavorites"
      :pageNumber="getPageNumber"
      :title="getTitle"
      @update="setNewPageNumber"
    />

    <user-panel
      v-if="sidebars.bookmarks"
      :favorites="getFavorites"
      @add-favorite="addNewFavorite"
      @go-to="goTo"
      @go-to-profile="goToProfile"
      @menu-item-clicked="menuItemClicked"
      @remove-favorite-item="removeFavoriteItem"
    />

    <context-menu :show="showMenu" :x="menuX" :y="menuY" @menu-item-clicked="menuItemClicked"/>
  </div>
</template>

<script>
/* eslint-disable vue/multi-word-component-names */
import BookInfo from "@/views/Reader/Components/BookInfo.vue";
import Context from "@/views/Reader/Components/Context.vue";
import UserPanel from "@/views/Reader/Components/UserPanel.vue";
import ContextMenu from "@/views/Reader/Components/ContextMenu.vue";
import { mapActions, mapState } from "pinia";
import { useBookStore } from "@/store/book";
import { useUserStore } from "@/store/user";

export default {
  name: "BookReaderDB",
  components: {
    BookInfo,
    UserPanel,
    Context,
    ContextMenu
  },
  data() {
    return {
      menuX: 0,
      menuY: 0,
      sidebars: {
        bookInfo: false,
        bookmarks: false,
      },
      showMenu: false
    };
  },
  computed: {
    ...mapState(useBookStore, [
      'getBook',
      'getContext',
      'getFavorites',
      'getPageNumber',
      'getTitle'
    ]),
  },
  methods: {
    ...mapActions(useBookStore, [
      'addBookmark',
      'loadBookWithContextAndFavorites',
      'loadContext',
      'removeFavorite',
    ]),
    ...mapActions(useUserStore, ['loadUser']),
    addNewFavorite() {
      this.addBookmark();
    },
    bookInfoState() {
      this.sidebars.bookInfo = !this.sidebars.bookInfo
      localStorage.setItem('sidebars', JSON.stringify(this.sidebars));
    },
    bookmarksState() {
      this.sidebars.bookmarks = !this.sidebars.bookmarks
      localStorage.setItem('sidebars', JSON.stringify(this.sidebars));
    },
    closeContextMenu() {
      this.showMenu = false;
    },
    getCurrentPageContext(bookId, pageNumber) {
      this.loadContext(bookId, pageNumber);
    },
    goTo(linkObject) {
      this.getCurrentPageContext(this.getBook.id, linkObject.page);
      window.location.href = this.$route.path + '#line-' + linkObject.index;
    },
    goToProfile() {
      this.$router.push({name: "UserProfile"})
    },
    handleKeyPress(event) {
      if (event.keyCode === 39) {
        this.nextPage();
      }
      if (event.keyCode === 37) {
        this.previousPage();
      }
    },
    loadSidebars() {
      const sidebarState = localStorage.getItem('sidebars');
      if (sidebarState) {
        this.sidebars = JSON.parse(sidebarState);
      }
    },
    menuItemClicked(option) {
      if (option === 'Quit') {
        this.$router.push({name: "BookDetail"})
      }
      if (option === 'UserPanel') {
        this.bookmarksState()
      }
      if (option === 'BookInfo') {
        this.bookInfoState()
      }
      this.showMenu = false;
    },
    nextPage() {
      this.getCurrentPageContext(this.getBook.id,this.getPageNumber + 1);
    },
    previousPage() {
      if (this.getPageNumber > 1) {
        this.getCurrentPageContext(this.getBook.id, this.getPageNumber - 1);
      }
    },
    removeFavoriteItem(item) {
      this.removeFavorite(item);
    },
    setNewPageNumber(pageNumber) {
      if (pageNumber > 0) {
        this.loadContext(this.getBook.id, pageNumber);
      }
    },
    showContextMenu(event) {
      event.preventDefault();
      this.showMenu = true;
      this.menuX = event.clientX;
      this.menuY = event.clientY;
    },
  },
  created() {
    this.loadUser();
    this.loadBookWithContextAndFavorites(this.$route.params.id);
    this.loadSidebars();
  },
  mounted() {
    window.addEventListener('keydown', this.handleKeyPress);
    document.addEventListener('click', this.closeContextMenu);
  },
  beforeUnmount() {
    window.removeEventListener('keydown', this.handleKeyPress);
    document.removeEventListener('click', this.closeContextMenu);
  },
}
</script>

<style scoped>
@import "@/assets/styles/components/reader.scss";
</style>