<template>
  <div id="modal" v-if="modal.show">
    <div class="modal modal_open" tabindex="-1" role="dialog" style="display: block">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">{{getTitle}}</h5>
            <font-awesome-icon :icon="['fas', 'xmark']" class="modal-close-button" @click="cancel"/>
          </div>
          <div class="modal-body">
            <p>{{getText}}</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" @click="agree">Так</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal" @click="cancel">Закрити</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "RemoveModal",
  computed: {
    getTitle() {
      if (this.modal.title && this.modal.title.length) {
        return this.modal.title;
      }
      return '';
    },
    getText() {
      if (this.modal.text && this.modal.text.length) {
        return this.modal.text;
      }
      return '';
    }
  },
  props: {
    modal: {
      type: Object,
    }
  },
  methods: {
    agree() {
      this.$emit('agree');
    },
    cancel() {
      this.$emit('cancel');
    },
  },
};
</script>
