@font-face {
    font-family: 'Constantine';
    src: local('Constantine'), url('../fonts/constantine.woff2') format('woff2'), url('../fonts/constantine.woff') format('woff'), url('../fonts/constantine.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
