@import "bootstrap.min.css";
@import "constantine.css";
@import "font-awesome.min.css";

#app {
    min-height: 100vh;
}
@font-face {
    font-family: "open sans";
    src: url(../fonts/OpenSans-Light.ttf);
}
@font-face {
    font-family: 'Constantine';
    src: local('Constantine'), url('../fonts/constantine.woff2') format('woff2'), url('../fonts/constantine.woff') format('woff'), url('../fonts/constantine.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}