<template>
  <master-page>
    <div class="d-flex justify-content-center">
      <div class="col-lg-4">

        <div class="row">
          <input type="text" v-model="author.firstname" class="form-control" placeholder="Ім'я">
        </div>

        <div class="row mt-3">
          <input type="text" v-model="author.lastname" class="form-control" placeholder="Призвище">
        </div>

        <div class="d-flex justify-content-end mt-3">
          <button type="submit" class="btn btn-primary col-4" @click="updateAuthor">Оновити</button>
        </div>

      </div>
    </div>
  </master-page>
</template>

<script>
import api from "@/api";
import MasterPage from "@/views/Layouts/MasterPage.vue";
import {mapActions, mapState} from "pinia";
import {useAuthorStore} from "@/store/author";
import {useBreadcrumbsStore} from "@/store/breadcrumbs";
import {useMessagesStore} from "@/store/messages";

export default {
  name: "AuthorEdit",
  components: {
    MasterPage
  },
  computed: {
    ...mapState(useAuthorStore, ["author"]),
  },
  methods: {
    ...mapActions(useAuthorStore, ["loadAuthor"]),
    ...mapActions(useBreadcrumbsStore, ["setBreadcrumbs"]),
    ...mapActions(useMessagesStore, ["addMessages"]),
    updateAuthor() {
      api.updateAuthor(this.author.id, this.author).then(response => {
        if (200 === response.status) {
          this.addMessages({
            title: "Успіх",
            type: "success",
            text: "Автор успішно оновлен",
            timer: 2
          });
        }
      });
    },
    loadBreadcrumbs() {
      this.setBreadcrumbs([
        { main: true, title: 'Головна' },
        { main: false, title: 'Автор' },
        { main: false, title: 'Редагувати' },
      ])
    },
  },
  created() {
    this.loadAuthor(this.$route.params.id)
    this.loadBreadcrumbs();
  },
}
</script>

<style scoped>

</style>