<template>
  <master-page>
    <div class="d-flex justify-content-center">
      <div class="col-lg-4">

        <div class="row">
          <input type="text" v-model="author.firstname" class="form-control" placeholder="Ім'я">
        </div>

        <div class="row mt-3">
          <input type="text" v-model="author.lastname" class="form-control" placeholder="Призвище">
        </div>

        <div class="d-flex justify-content-end mt-3">
          <button type="submit" class="btn btn-primary col-4" @click="storeAuthor">Додати</button>
        </div>

      </div>
    </div>
  </master-page>
</template>

<script>
import { mapActions } from "pinia";
import {useBreadcrumbsStore} from "@/store/breadcrumbs";
import MasterPage from "@/views/Layouts/MasterPage.vue";
import api from "@/api";
import {useMessagesStore} from "@/store/messages";

export default {
  name: "AuthorCreate",
  components: {
    MasterPage
  },
  data() {
    return {
      author: {
        firstname: null,
        lastname: null,
      }
    }
  },
  methods: {
    ...mapActions(useBreadcrumbsStore, ["setBreadcrumbs"]),
    ...mapActions(useMessagesStore, ["addMessages"]),
    storeAuthor() {
      api.storeAuthor(this.author).then(response => {
        if (201 === response.status) {
          this.addMessages({
            title: "Успіх",
            type: "success",
            text: "Автор успішно додан",
            timer: 2
          });
        }
      });
    },
    loadBreadcrumbs() {
      this.setBreadcrumbs([
        { main: true, title: 'Головна' },
        { main: false, title: 'Автор' },
        { main: false, title: 'Додати' },
      ])
    },
  },
  created() {
    this.loadBreadcrumbs();
  },
}
</script>
