<template>
  <div class="col-xxl-2 bg-dark d-none d-xxl-block">
    <div class="book-image-box">
      <img class="img-fluid" :src="getImage" alt="">
    </div>
    <div class="book-author-box">
      <div class="book-author">
        {{ getAuthor }}
      </div>
      <div class="book-year">
        Рік: {{ getYear }}
      </div>
      <div class="book-year" v-if="getPages">
        Сторінок: {{ getPages }}
      </div>
    </div>
  </div>
</template>

<script>
/* eslint-disable vue/multi-word-component-names */
export default {
  name: "BookInfo",
  props: {
    book: {
      type: Object,
      required: true
    }
  },
  computed: {
    getAuthor() {
      if (this.book.authors) {
        return this.book.authors[0].firstname + ' ' + this.book.authors[0].lastname;
      }
      return '';
    },
    getImage() {
      if (this.book.files) {
        return process.env.VUE_APP_BACKEND_URL + 'images/books/' + this.book.files.image;
      }
      return process.env.BASE_URL + 'images/no_image.png';
    },
    getYear() {
      return this.book.year ?? '';
    },

    getPages() {
      return this.book.pages ?? null;
    },
  },
}
</script>
