<template>
  <div class="col-xxl-8 book-content-box" ref="scrollTop">
    <div class="reader-book-title text">
      {{ title }}
    </div>
    <hr class="separate">
    <div class="book-content">

      <template v-for="(line, index) in context" :key="index">
        <p :id="'line-'+index" class="text" :class="{'text-select': isFavorite(index)}">{{ line }}</p>
      </template>
      <div class="row d-flex justify-content-center">
        <div class="page-number">
          <input type="text" v-model.number="page" @keyup.enter="setupNewPageNumber">
        </div>
      </div>
    </div>
  </div>
</template>

<script>
/* eslint-disable vue/multi-word-component-names */
export default {
  name: "Context",
  props: {
    context: {
      type: Array,
      default: () => []
    },
    favorites: {
      type: Array,
      default: () => []
    },
    pageNumber: {
      type: Number,
    },
    title: {
      type: String,
      default: ''
    }
  },
  data() {
    return {
      currentPageNumber: 1,
    };
  },
  computed: {
    page: {
      get() {
        return this.pageNumber;
      },
      set(value) {
        if (value > 1) {
          this.currentPageNumber = value;
        }
      },
    },
  },
  methods: {
    isFavorite(index) {
      let isFound = false;

      this.favorites.forEach(item => {
        if (item.page === this.pageNumber) {
          Object.values(item.items).forEach(value => {
            if (parseInt(index) === parseInt(value.index)) {
              isFound = true;
            }
          });
        }
      });

      return isFound;
    },
    setupNewPageNumber() {
      this.$emit('update', this.currentPageNumber);
      this.$refs.scrollTop.scrollTo(0, 0);
    },
  },
};

</script>
