<template>
  <div v-if="show" class="context-menu" :style="{ top: `${y}px`, left: `${x}px` }">
    <ul>
      <li @click="closeMenu('UserPanel')">
        <i class="fa fa-paperclip context-menu-item-icon" aria-hidden="true"></i>
        Закладки
      </li>
      <li @click="closeMenu('BookInfo')">
        <i class="fa fa-info-circle context-menu-item-icon" aria-hidden="true"></i>
        Про книгу
      </li>
<!--      <li @click="closeMenu('Settings')">-->
<!--        <i class="fa fa-cogs context-menu-item-icon" aria-hidden="true"></i>-->
<!--        Налаштування-->
<!--      </li>-->
<!--      <li @click="closeMenu('Help')">-->
<!--        <i class="fa fa-info context-menu-item-icon" aria-hidden="true"></i>-->
<!--        Допомога-->
<!--      </li>-->
    </ul>
    <hr>
    <ul>
      <li @click="closeMenu('Quit')">
        <i class="fa fa-sign-out context-menu-item-icon" aria-hidden="true"></i>
        Вихід
      </li>
    </ul>
  </div>
</template>

<script>
/* eslint-disable vue/multi-word-component-names */
export default {
  name: "ContextMenu",
  props: {
    show: Boolean,
    x: Number,
    y: Number
  },
  methods: {
    closeMenu(event) {
      if (this.show) {
        this.$emit('menu-item-clicked', event);
      }
    }
  }
}
</script>
