<template>
  <div class="row m-0 p-3 notes-wrapper">

    <div v-for="(item, index) in favorites" :key="index">
      <div class="page-favorite">
        {{ item.page }} стр.
      </div>
      <div class="notes" v-for="(favorite, iteration) in item.items" :key="iteration">
        <p @click="goTo(item, favorite.index)">{{ favorite.text }}</p>
        <span class="favorite-remove"></span>
        <span class="favorite-remove" title="Видалити" @click="removeFavoriteItem(item, favorite)">
          <font-awesome-icon :icon="['far', 'trash-can']"/>
        </span>
      </div>
    </div>

  </div>
</template>

<script>
/* eslint-disable vue/multi-word-component-names */
export default {
  name: "Favorites",
  props: {
    favorites: {
      type: Object,
      default: () => {}
    }
  },
  methods: {
    goTo(item, index) {
      this.$emit('goTo', {page: item.page, index: index});
    },
    removeFavoriteItem(item, favorite) {
      this.$emit('remove-favorite-item', {page: item.page, favorite: favorite})
    }
  }
}
</script>
