<template>
  <div class="col-xxl-2 bg-dark d-none d-xxl-block" style="overflow-y: scroll">
    <div class="row p-0 m-0 d-flex justify-content-end p-3" style="position: relative">
      <div id="bookmark-box">
        <div class="action-box">
          <font-awesome-icon v-if="!isHovered" :icon="['far', 'bookmark']" @mouseover="toggleHover(true)"/>
          <font-awesome-icon v-else
            :icon="['fas', 'bookmark']"
            @click="handleFavorite"
            @mouseout="toggleHover(false)"
            title="Додати обране"
          />
        </div>

        <div class="user-profile-photo" title="Профіль користувача">
          <img class="profile-photo" :src="getProfileImage" alt="" @click="userInfo">
        </div>
      </div>
      <div v-if="showUserMenu" class="reader-user-menu">
        <ul>
          <li @click="goToProfile">
            <i class="fa fa-user context-menu-item-icon" aria-hidden="true"></i>
            Профіль
          </li>
          <li @click="closeMenu('Quit')">
            <i class="fa fa-sign-out context-menu-item-icon" aria-hidden="true"></i>
            Вихід
          </li>

        </ul>
      </div>
    </div>

    <hr style="color: #FFFFFF" class="bookmark-separate">

    <favorites
      :favorites="favorites"
      @go-to="goTo"
      @remove-favorite-item="removeFavoriteItem"
    />
  </div>
</template>

<script>
/* eslint-disable vue/multi-word-component-names */
import { mapState } from "pinia";
import { useUserStore } from "@/store/user";
import Favorites from "@/views/Reader/Components/Favorites.vue";

export default {
  name: "UserPanel",
  components: {
    Favorites
  },
  props: {
    favorites: {
      type: Object,
      default: () => {
      }
    }
  },
  data() {
    return {
      isHovered: false,
      showUserMenu: false,
    };
  },
  computed: {
    ...mapState(useUserStore, ['getUser']),
    getProfileImage() {
      if (this.getUser.image) {
        return process.env.VUE_APP_BACKEND_URL + 'images/users/' + this.getUser.image;
      }
      return '/images/no_user.png?v=0.0.1';
    }
  },
  methods: {
    closeMenu(event) {
      this.$emit('menu-item-clicked', event);
    },
    handleFavorite() {
      this.$emit('addFavorite');
    },
    goTo(favorite) {
      this.$emit('goTo', favorite);
    },
    goToProfile() {
      this.$emit('goToProfile');
    },

    removeFavoriteItem(item) {
      this.$emit('remove-favorite-item', item)
    },
    toggleHover(value) {
      this.isHovered = value;
    },
    userInfo() {
      this.showUserMenu = !this.showUserMenu;
    },
  },
}
</script>
