<template>
  <master-page>
    <div class="book-grid" v-if="getBooks && getBooks.length">
      <div class="book-card" v-for="book in this.getBooks" :key="book.id">
        <BookCard :book="book" />
      </div>
    </div>
    <empty-list v-else />
  </master-page>
</template>

<script>
/* eslint-disable vue/multi-word-component-names */
import BookCard from "@/components/Book/BookCard.vue";
import MasterPage from "@/views/Layouts/MasterPage.vue";
import { mapActions, mapState } from "pinia";
import { useBooksStore } from "@/store/books";
import { useBreadcrumbsStore } from "@/store/breadcrumbs";
import EmptyList from "@/components/EmptyList.vue";

export default {
  name: "BooksList",
  components: {
    EmptyList,
    BookCard,
    MasterPage,
  },
  computed: {
    ...mapState(useBooksStore, ["getBooks"]),
  },
  methods: {
    ...mapActions(useBooksStore, ["loadBooks"]),
    ...mapActions(useBreadcrumbsStore, ["setBreadcrumbs"]),
    loadBreadcrumbs() {
      this.setBreadcrumbs([
        { main: true, title: 'Головна' }
      ])
    }
  },
  created() {
    this.loadBooks();
    this.loadBreadcrumbs();
  }
}
</script>

<style scoped>
  @import "@/assets/styles/components/books.scss";
</style>