<template>
  <div class="container">
    Список пустий
  </div>
</template>

<script>
export default {
  name: "EmptyList"
}
</script>

<style scoped>
.container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
</style>