<template>
  <nav>
    <ul class="pagination justify-content-center">

      <li class="page-item" v-if="isShowStartArrow" @click.prevent="changePage(prevPage)">
        <a class="page-link" href="#" tabindex="-1">
          <font-awesome-icon :icon="['fas', 'chevron-left']" />
        </a>
      </li>

      <li class="page-item" v-for="(page, index) in pages" :key="index">
        <a class="page-link" href="#" @click.prevent="changePage(page)" :class="{ current: isCurrentPage(page) }">
          {{ page }}
        </a>
      </li>

      <li class="page-item" v-if="isShowEndArrow" @click.prevent="changePage(nextPage)">
        <a class="page-link" href="#">
          <font-awesome-icon :icon="['fas', 'chevron-right']" />
        </a>
      </li>

    </ul>
  </nav>
</template>

<script>
/* eslint-disable vue/multi-word-component-names */
import {FontAwesomeIcon} from "@fortawesome/vue-fontawesome";

export default {
  name: "Pagination",
  components: {FontAwesomeIcon},
  computed: {
    isShowStartArrow() {
      return this.pagination.currentPage > this.pageRange;
    },
    isShowEndArrow() {
      if (this.pagination.lastPage > this.pageRange) {
        return this.pagination.currentPage < (this.pagination.total - this.pageRange);
      }
      return false;
    },
    nextPage() {
      return this.pagination.currentPage + 1;
    },
    pages() {
      let pages = [];

      for(let i = 1; i <= this.pagination.lastPage; i++) {
        pages.push(i)
      }

      return pages
    },
    prevPage() {
      return this.pagination.currentPage - 1;
    },
  },
  props: {
    pagination:  {
      type: Object,
      default: () => ({})
    },
    pageRange: {
      type: Number,
      default: 3
    }
  },
  methods: {
    changePage(page) {
      this.$emit('pageChanged', page)
    },
    isCurrentPage(page) {
      return this.pagination.currentPage === page;
    },
  },
}
</script>

<style scoped>
.current, .current:hover {
  color: #fff !important;
  background-color: #3F5367 !important;
  border: 1px solid #3F5367 !important;
}
</style>