<template>
  <router-link :to="{name: 'BookDetail', params: { id: this.notification.message.id }}">
    <div class="d-flex flex-row cursor-p">
      <div>
        <img class="notification-image" :src="getImage" alt="">
      </div>
      <div>
        <div class="notification-title">
          {{getTitle}}
        </div>
        <div class="notification-author">
          {{getAuthor}}
        </div>
      </div>
    </div>
  </router-link>
</template>

<script>
export default {
  name: "NotificationItem",
  computed: {
    getAuthor() {
      if (this.notification.message.authors.length) {
        let authorObject = this.notification.message.authors[0];

        return authorObject.lastname + ' ' + authorObject.firstname
      }

      return '';
    },
    getImage() {
      if (this.notification.message.files && this.notification.message.files.image) {
        return  process.env.VUE_APP_BACKEND_URL +
            "images/books/" + this.notification.message.files.image;
      }

      return '/images/no_image.png'
    },
    getTitle() {
      if (this.notification.message.title.length > 30) {
        return this.notification.message.title.slice(0, 30) + '...'
      }
      return this.notification.message.title;
    }
  },
  props: {
    notification: {
      type: Object,
      required: true
    }
  }
}
</script>

<style scoped>
.notification-author {
  color: #717172;
  font-size: 14px;
}
.notification-image {
  margin: 5px 20px 0 0;
  width: 50px;
}
.notification-title {
  padding: 5px 0 0 0;
}
.cursor-p {
  cursor: pointer
}
</style>