<template>
  <div class="container">
    <div class="error-404">
      <h1>
        <span title="Не знайдено. Перевірте адресу">404</span> | </h1>
      <router-link :to="{name: 'BooksList'}">На головну </router-link>
    </div>
  </div>
</template>

<script>
/* eslint-disable vue/multi-word-component-names */

export default {
  name: "Error404",
}
</script>

<style scoped>
  .container {
    background-color: #f6f6f6;
    font-family: Roboto, serif !important;
    width: 500px;
    margin: 200px auto;
  }

  .error-404 {
  display: flex;
    padding: 5px;
  }

  h1 {
    font-size: 36px;
  }

  p {
    font-size: 18px;
    line-height: 1.5;
  }

  a {
    text-decoration: none;
    margin: 10px;
    color: #000;
  }
</style>