<template>
  <master-page>
    <div class="container-center">

      <div class="col-lg-3">
        <div class="image-container" @click="openFileInput">
          <img :src="getProfileImage"
            alt="Photo"
            width="128"
            height="128"
            class="rounded-circle image-container-img"
            @mouseenter="showEditIcon"
            @mouseleave="hideEditIcon"
          >
          <div class="fa fa-pencil edit-icon" @click.stop="openFileInput" v-if="showIcon"></div>
          <input type="file" ref="fileInput" accept="image/*"
            @change="handleFileChange" style="display: none;" @keyup.enter="handle"/>
        </div>
      </div>

      <div class="col-lg-4 user-info">
        <div class="form-group col">
          <label for="profile-name">Ім'я</label>
          <input type="text" class="form-control" id="profile-name" v-model="this.getUser.name" @keyup.enter="handle">
        </div>

        <div class="mt-3 form-group col">
          <label for="profile-email">Електронна пошта</label>
          <input type="email" class="form-control" id="profile-email" v-model="this.getUser.email" @keyup.enter="handle">
        </div>

        <hr class="separate mt-5">

        <div class="mt-1">
          <button type="button" class="col-lg-12 btn btn-primary mt-3" @click="handle">Зберегти</button>
        </div>
      </div>
    </div>
  </master-page>
</template>

<script>
import api from "@/api";
import MasterPage from "@/views/Layouts/MasterPage.vue";
import { mapActions, mapState } from "pinia";
import { useUserStore } from "@/store/user";
import { useMessagesStore } from "@/store/messages";
import {useBreadcrumbsStore} from "@/store/breadcrumbs";

export default {
  name: "UserProfile",
  components: {
    MasterPage,
  },
  computed: {
    ...mapState(useUserStore, ['getUser']),
    getProfileImage() {
      if (this.getUser.image) {
        return process.env.VUE_APP_BACKEND_URL + "images/users/" + this.getUser.image;
      }

      return "/images/no_user.png?v=0.0.1";
    },
    getProfileName() {
      if (this.getUser.name) {
        return this.getUser.name;
      }

      return "";
    }
  },
  created() {
    this.loadUser();
    this.loadBreadcrumbs();
  },
  data() {
    return {
      showIcon: false
    };
  },
  methods: {
    ...mapActions(useUserStore, ["initUser", "loadUser", "setUserPhoto"]),
    ...mapActions(useMessagesStore, ["addMessages"]),
    ...mapActions(useBreadcrumbsStore, ["setBreadcrumbs"]),
    openFileInput() {
      this.$refs.fileInput.click();
    },
    showEditIcon() {
      this.showIcon = true;
    },
    hideEditIcon() {
      this.showIcon = false;
    },
    handleFileChange(event) {
      let data = new FormData();
      data.append("photo", event.target.files[0]);

      api.updateUserPhoto(data).then(response => {
        if (200 === response.status) {

          this.setUserPhoto(response.data.data.photo.filename);
          this.addMessages({
            title: "Успіх",
            type: "success",
            text: "Оновлено успешно",
            timer: 3,
          });
        } else {
          this.addMessages({
            title: "Помилка",
            type: "error",
            text: "Зображення не оновлено",
            timer: 3,
          });
        }
      });
    },
    handle() {
      api.updateCurrentUser({
        id: this.getUser.id,
        name: this.getUser.name,
        email: this.getUser.email,
      }).then(response => {
        if (200 === response.status) {
          this.loadUser();
          this.addMessages( {
            title: "Успіх",
            type: "success",
            text: "Оновлено успешно",
            timer: 3,
          });
        } else {
          this.addMessages( {
            title: "Помилка",
            type: "error",
            text: "Не оновлено",
            timer: 3,
          });
        }
      });
    },
    loadBreadcrumbs() {
      this.setBreadcrumbs([
        { main: true, title: 'Головна' },
        { main: false, title: 'Профіль користувача' },
      ])
    },
  },
};
</script>
