<template>
  <div class="d-flex breadcrumb-box">
    <div v-for="(item, index) in getBreadcrumbs()" :key="index">
      <div class="breadcrumb-row">

        <div v-if="item.main">
          <router-link :to="{name: 'BooksList'}" class="breadcrumb-item-main breadcrumb-item">
            {{item.title}}
            <font-awesome-icon class="breadcrumb-arrow" :icon="['fas', 'chevron-right']"/>
          </router-link>
        </div>

        <div v-else>
          <div class="breadcrumb-item">
            {{item.title}}
            <font-awesome-icon class="breadcrumb-arrow" :icon="['fas', 'chevron-right']"/>
          </div>
        </div>

      </div>
    </div>
  </div>
</template>

<script>
/* eslint-disable vue/multi-word-component-names */
import { mapState } from "pinia";
import { useBreadcrumbsStore } from "@/store/breadcrumbs";

export default {
  name: "Breadcrumbs",
  methods: {
    ...mapState(useBreadcrumbsStore, ["getBreadcrumbs"]),
  }
};
</script>

<style scoped>
  .breadcrumb-row {
    height: 50px;
  }
  .breadcrumb-box {
    padding: 18px 0 40px 14px;
  }

  .breadcrumb-item {
    padding: 0 5px;
    height: 50px;
  }
  .breadcrumb-item-main {
    cursor: pointer;
    color: #1a1d20;
    font-size: 18px;
    font-weight: 400;
  }
  .breadcrumb-arrow {
    color: #717172;
    font-size: 16px;
    margin-left: 5px;
  }
</style>