.remove-icon:hover {
  color: #ff0000;
}

.action-icon {
  border: 1px solid #a1a1a1;
  color: #a1a1a1;
  cursor: pointer;
  font-size: 18px;
  width: 40px;
  padding: 8px 0;
  margin: 8px;
}

.action-icon:hover {
  border: 1px solid #383838;
  color: #383838;
  cursor: pointer;
}
.action-icon-disabled {
  border: 1px solid #d3d2d2;
  color: #d3d2d2;
  font-size: 18px;
  width: 40px;
  padding: 8px 0;
  margin: 8px;

}

.create-book-form-action-icon {
  color: #a1a1a1;
  cursor: pointer;
  font-size: 24px;
  width: 40px;
  padding: 4px 0;
  margin: 4px;
}

.create-book-form-action-icon:hover {
  color: #383838;
  cursor: pointer;
}
