@import "preloader.scss";
@import "icons.scss";
@import "modal.scss";

html, body {
  font-family: Roboto, serif !important;
  font-weight: 300 !important;
}

.form-control {
  font-family: Roboto, serif !important;
  font-weight: 300 !important;
}

a,
a:link,
a:visited,
.link-body-emphasis {
  color: #000000;
  text-decoration: none;
}

a:hover {
  color: rgba(33, 37, 41, 0.75);
}

*:focus {
  outline: none;
}

.form-control:focus {
  border-color: #c7c6c6;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.dropdown-item:active {
  background-color: #bbbdbb;
}

.logo-img {
  height: 40px;
  margin-right: 50px;
  border: 1px solid #dee2e6;
}

hr.separate {
  border: 0;
  height: 1px;
  background: #333 linear-gradient(to right, #ccc, #333, #ccc);
}

.nav-link {
  font-size: 16px;
}

