.modal-close-button {
  cursor: pointer;
}
.modal-dialog {
  margin-top: 200px;
}
.modal {
  background: #343a40;
  opacity: .985;
  z-index: 30;
}
.modal_open {
  display: block!important;
  z-index: 1301;
}
