@import "common";
@import "components";

body {
  font-family: Roboto, serif !important;
  font-weight: 300 !important;
}

.container-for-context {
  display: flex;
  justify-content: center;
}

.context {
  display: flex;
  flex-direction: column;
  width: 1200px;
}

.text::selection {
  color: #EEEEEE;
  background: #343A40;
}