<template>
  <div id="book-create-loveread">
    <div class="row mt-4">
      <div class="col-10">
        <label for="url">Посилання на книгу</label>
        <br>
        <div class="d-flex" id="url-for-example">
          <small @click="copyExampleUrl"><b>Приклад: </b> {{exampleUrl}}</small>
          <i @click="copyExampleUrl" aria-hidden="true" class="fa fa-arrow-circle-o-down copy-url"></i>
        </div>
        <input id="url" type="text" class="form-control" v-model="importBook.url" />
      </div>
      <div class="col-2">
        <div id="type-store" class="form-group" title="Формат збереження">
          <label for="store-type">Формат</label>
          <select class="form-control" id="store-type" v-model="importBook.type">
            <option value="pdf">PDF</option>
            <option value="db">БД</option>
          </select>
        </div>
      </div>
    </div>

    <hr class="separate mt-5">

    <div class="d-flex justify-content-center mt-2">
      <button type="button" class="col-4 btn btn-primary mt-3" @click="saveImport">Зберегти</button>
    </div>
  </div>
</template>

<script>
import { mapActions, mapState } from "pinia";
import { useBookStore } from "@/store/book";

export default {
  name: "BookCreateImport",
  data() {
    return {
      exampleUrl: "http://loveread.ec/view_global.php?id=110516",
      importBook: {
        url: "",
        type: "pdf",
      }
    }
  },
  computed: {
    ...mapState(useBookStore, ["getImportBook"]),
  },
  methods: {
    ...mapActions(useBookStore, ["setImportBook"]),
    copyExampleUrl() {
      this.importBook.url = this.exampleUrl;
      this.setImportBook(this.importBook);
    },
    saveImport() {
      this.setImportBook(this.importBook);
      this.$emit('import')
    },
  },
};
</script>
