<template>
  <div>
    <router-link :to="{ name: 'BookDetail', params: { id: book.id }}">
      <img :src="this.getImage" alt="image">
      <h2 class="title">{{book.title}}</h2>
    </router-link>

    <p class="author">
      <router-link to="#">{{getAuthorFullName}}</router-link>
    </p>

  </div>
</template>

<script>
export default {
  name: "BookCard",
  computed: {
    getAuthorFullName() {
      if (this.book.authors.length) {
        return this.book.authors[0].firstname + ' ' + this.book.authors[0].lastname
      }
      return '';
    },
    getImage() {
      if (this.book.files) {
        return process.env.VUE_APP_BACKEND_URL + 'images/books/' + this.book.files.image;
      } else {
        return '/images/no_image.png';
      }
    }
  },
  props: {
    book: {
      type: Object,
      required: true
    }
  }
}
</script>

<style scoped>
img {
  max-width: 100%;
  box-shadow: 10px 8px 10px rgba(0, 0, 0, 0.4);
}
.title {
  font-size: 1.1rem;
  margin: 10px 0;
}
a, a:link, a:visited {
  color: #888;
  text-decoration: none;
}
a:hover {
  color: #000000;
}
.author {
  font-style: italic;
  color: #888;
}
</style>