<template>
  <div class="form-group my-4" title="Назва книги">
    <label for="book-title">Назва</label>
    <input type="text" class="form-control" id="book-title" v-model="book.title">
  </div>

  <div class="row" v-for="(item, index) in book.authors" :key="index">
    <div class="col-3">
      <div class="form-group" title="Існуючи автори">
        <label for="exist-author">Автори</label>
        <select class="form-control" id="exist-author" v-model="item.id" :disabled="item.new">
          <option v-for="author in getAuthors" :key="author.id" :value="author.id">
            {{ author.lastname }} {{ author.firstname }}
          </option>
        </select>
      </div>
    </div>

    <div class="col-1">
      <div class="d-flex flex-column mt-1" title="Додати нового автора">
        <input type="checkbox" class="form-check-input" id="new-author" @change="item.new = !item.new">
      </div>
    </div>

    <div class="col-3" title="Ім'я нового автора">
      <label for="new-author-firstname">Ім'я</label>
      <input type="text" class="form-control" id="new-author-firstname"
        v-model="item.firstname" :disabled="!item.new">
    </div>

    <div class="col-3" title="Призвище нового автора">
      <label for="new-author-lastname">Призвище</label>
      <input type="text" class="form-control" id="new-author-lastname"
        v-model="item.lastname" :disabled="!item.new">
    </div>

    <div class="col-2 mt-4">
      <font-awesome-icon :icon="['far', 'square-plus']" class="create-book-form-action-icon" title="Додати автора" @click="addAuthorToBook()" />
      <font-awesome-icon :icon="['fas', 'trash-can']" class="create-book-form-action-icon" title="Видалити автора" />
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-3" title="Кількість сторінок">
      <label for="pages">Кількість сторінок</label>
      <input type="number" class="form-control" id="pages" v-model="book.pages">
    </div>

    <div class="col-3">
      <div class="form-group" title="Рік випуску">
        <label for="year">Рік випуску</label>
        <select class="form-control" id="year" v-model="book.year">
          <option v-for="(year, index) in [2023, 2022, 2021, 2020]" :key="index" :value="year">{{ year }}</option>
        </select>
      </div>
    </div>
  </div>

  <div class="col">
    <textarea class="form-control book-description" cols="5" rows="2" title="Опис книги" v-model="book.description"></textarea>
  </div>

  <div class="col d-flex mt-4">
    <div class="col-md-3 d-inline-block">
      <input type="file" class="input_file" ref="image" accept="image/*" @change="handleImageFile">
      <button type="button" class="btn btn-outline-primary" @click="$refs.image.click()">Зображення</button>
    </div>
    <div class="col-md-6 pt-2">{{getImageFilename}}</div>
  </div>

  <div class="col d-flex mt-4">
    <div class="col-md-3 d-inline-block">
      <input type="file" class="input_file" ref="pdf" accept="application/pdf" @change="handlePdfFile">
      <button type="button" class="btn btn-outline-secondary" @click="$refs.pdf.click()">PDF файл</button>
    </div>
    <div class="col-md-6 pt-2">{{getPdfFilename}}</div>
  </div>

  <hr class="separate mt-5">

  <div class="d-flex justify-content-center mt-2 mb-5">
    <button type="button" class="col-4 btn btn-primary mt-3" @click="save">Зберегти</button>
  </div>
</template>

<script>
import { mapActions, mapState } from "pinia";
import { useBookStore } from "@/store/book";
import {useAuthorsStore} from "@/store/authors";

export default {
  name: "BookCreateForm",
  data() {
    return {
      loadData: false,
      newAuthor: {
        new: false,
        id: 0,
        firstname: "",
        lastname: "",
      },
      files: {
        image: "",
        pdf: "",
      },
      book: {
        title: "",
        authors: [],
        pages: 0,
        year: 0,
        description: "",
      }
    }
  },
  computed: {
    ...mapState(useAuthorsStore, ["getAuthors"]),
    getPdfFilename() {
      return this.files.pdf ? this.files.pdf.name : 'Назва файлу';
    },

    getImageFilename() {
      return this.files.image ? this.files.image.name : 'Назва файлу';
    },
  },
  methods: {
    ...mapActions(useBookStore, ["setImportBook", "setFiles"]),
     addAuthorToBook() {
      this.book.authors.push({...this.newAuthor});
    },

    handleImageFile(event) {
      this.files.image = event.target.files[0];
    },

    handlePdfFile(event) {
      this.files.pdf = event.target.files[0];
    },

    validation() {
      return true;
    },

    save() {
      this.setImportBook(this.book)
      this.setFiles(this.files)

      this.$emit('save-form');
    },
  },
  created() {
    this.book.authors.push({...this.newAuthor});
  }
};
</script>
