<template>
  <div>
    <Menu/>
    <div class="messages">
      <message-item/>
    </div>

    <div class="container-for-context">
      <div class="context">

        <div class="breadcrumbs">
          <Breadcrumbs/>
        </div>

        <div>
          <slot></slot>
        </div>

      </div>
    </div>
  </div>
</template>

<script>
import Menu from "@/components/Menu/Menu.vue";
import MessageItem from "@/components/Messages/MessageItem.vue";
import Breadcrumbs from "@/components/Breadcrumbs/Breadcrumbs.vue";

export default {
  name: "MasterPage",
  components: {
    Breadcrumbs,
    Menu,
    MessageItem,
  }
}
</script>
