<template>
  <div>
    <div class="messages">
      <message-item />
    </div>
    <section class="container-central forms">
      <div class="form login">
        <div class="form-content">
          <header>Вхід</header>
          <div>
            <div class="field input-field">
              <input
                type="email"
                placeholder="Електронна пошта"
                class="input"
                v-model="email"
                @keyup.enter="loginSend"
              />
            </div>
            <div class="field input-field">
              <input
                type="password"
                placeholder="Пароль"
                class="password"
                v-model="password"
                @keyup.enter="loginSend"
              />
              <i class="bx bx-hide eye-icon"></i>
            </div>
            <div class="form-link">
              <a href="#" class="forgot-pass">Забули пароль?</a>
            </div>
            <div class="field button-field">
              <button @click="loginSend">Вхід</button>
            </div>
          </div>
          <div class="form-link">
            <span>
              Немає облікового запису?
              <a href="/registration" class="link signup-link">Реєстрація</a>
            </span>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
/* eslint-disable vue/multi-word-component-names */
import api from "@/api";
import { mapActions, mapState } from "pinia";
import { useMessagesStore } from "@/store/messages";
import MessageItem from "@/components/Messages/MessageItem.vue";

const HOME_URL = "/";

export default {
  name: "Login",
  components: {
    MessageItem,
  },
  data: function () {
    return {
      email: "",
      password: "",
    };
  },
  computed: {
    ...mapState(useMessagesStore, ["getMessages"]),
  },
  methods: {
    ...mapActions(useMessagesStore, ["addMessages"]),
    loginSend() {
      this.validateEmailField();
      this.validatePasswordField();

      if (this.getMessages.length < 1) {
        api
          .loginSend({
            email: this.email,
            password: this.password,
          })
          .then((response) => {
            this.$cookies.set(
              "auth_token",
              response.data.data.token,
              60 * 60 * 24 * 7
            );
            this.$router.push(HOME_URL);
          })
          .catch((error) => {
            error.response.data.errors.forEach((message) => {
              this.addMessages({
                title: "Помилка",
                type: "error",
                text: message,
              });
            });
          });
      }
    },
    validateEmailField() {
      if (!this.email) {
        this.addMessages({
          title: "Помилка",
          type: "error",
          text: "Електронна пошта обов'язкова",
          timer: 3,
        });
      }
    },
    validatePasswordField() {
      if (!this.password) {
        this.addMessages({
          title: "Помилка",
          type: "error",
          text: "Пароль обов'язковий",
          timer: 3,
        });
      }
    },
  },
};
</script>
