<template>
  <div>
    <div class="errors">
      <message-item />
    </div>
    <section class="container-central forms">
      <div class="form signup">
        <div class="form-content">
          <header>Реєстрація</header>
          <div>
            <div class="field input-field">
              <input
                type="text"
                placeholder="Ім'я"
                class="input"
                v-model="name"
                @keyup.enter="registrationSend"
              />
            </div>
            <div class="field input-field">
              <input
                type="email"
                placeholder="Електронна пошта"
                class="input"
                v-model="email"
                @keyup.enter="registrationSend"
              />
            </div>
            <div class="field input-field">
              <input
                type="password"
                placeholder="Пароль"
                class="password"
                v-model="password"
                @keyup.enter="registrationSend"
              />
            </div>
            <div class="field input-field">
              <input
                type="password"
                placeholder="Підтвердження пароля"
                class="password"
                v-model="confirmPassword"
                @keyup.enter="registrationSend"
              />
              <i class="bx bx-hide eye-icon"></i>
            </div>
            <div class="field button-field">
              <button @click="registrationSend">Реєстрація</button>
            </div>
          </div>
          <div class="form-link">
            <span>
              Вже є обліковий запис?
              <a href="/login" class="link login-link">Вхід</a>
            </span>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
/* eslint-disable vue/multi-word-component-names */
import api from "@/api";
import MessageItem from "@/components/Messages/MessageItem.vue";
import { mapActions, mapState } from "pinia";
import { useMessagesStore } from "@/store/messages";

const HOME_URL = "/";

export default {
  name: "Registration",
  components: {
    MessageItem,
  },
  data: function () {
    return {
      confirmPassword: "",
      email: "",
      name: "",
      password: "",
    };
  },
  computed: {
    ...mapState(useMessagesStore, ["getMessages"]),
  },
  methods: {
    ...mapActions(useMessagesStore, ["addMessages"]),
    registrationSend() {
      this.validateNameField();
      this.validateEmailField();
      this.validatePasswordField();

      if (this.getMessages.length < 1) {
        api
          .registerUser({
            email: this.email,
            name: this.name,
            password: this.password,
            password_confirmation: this.confirmPassword,
          })
          .then((response) => {
            this.$cookies.set(
              "auth_token",
              response.data.data.token,
              60 * 60 * 24 * 7
            );
            this.$router.push(HOME_URL);
          })
          .catch((error) => {
            error.response.data.errors.forEach((message) => {
              this.addMessages({
                title: "Помилка",
                type: "error",
                text: message,
              });
            });
          });
      }
    },
    validateEmailField() {
      if (!this.email) {
        this.addMessages({
          title: "Помилка",
          type: "error",
          text: "Електронна пошта обов'язкова",
          timer: 3,
        });
      }
    },
    validateNameField() {
      if (!this.name) {
        this.addMessages({
          title: "Помилка",
          type: "error",
          text: "Ім'я обов'язково",
          timer: 3,
        });
      }
    },
    validatePasswordField() {
      if (!this.password) {
        this.addMessages({
          title: "Помилка",
          type: "error",
          text: "Пароль обов'язковий",
          timer: 3,
        });
      }
      if (this.password !== this.confirmPassword) {
        this.addMessages({
          title: "Помилка",
          type: "error",
          text: "Пароль та підтвердження пароля не співпадають",
          timer: 3,
        });
      }
    },
  },
};
</script>
